name: Checks

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  checks:
    name: Lint and Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ^1.21
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Install gofumpt
        run: go install mvdan.cc/gofumpt@v0.4.0

      - name: Install staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@v0.4.5

      - name: Install golangci-lint
        run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.55.0

      - name: Run tests
        run: make test

      - name: Lint
        run: make lint

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Lint contracts
        run: forge fmt --check

      - name: Ensure go mod tidy runs without changes
        run: |
          go mod tidy
          git update-index -q --really-refresh
          git diff-index HEAD

  integration-tests:
    name: Integration tests
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ^1.21
        id: go

      - name: Check out code into the Go module directory and submodules
        uses: actions/checkout@v2
        with:
          submodules: "true"

      - name: Install suave-geth
        uses: flashbots/suave-toolchain@v0.1

      - name: Run suave
        run: |
          make devnet-up

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Install contract dependencies
        run: forge install

      - name: Build the contracts
        run: forge build

      - name: Run tests
        run: |
          make run-integration
